.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding :0%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  .tablacentroblanco{
    background-color: white;
    text-align: center;
    margin: 0 auto 250px; /* Establece el margen izquierdo y derecho a "auto", lo que centra la tabla horizontalmente */
    display: table-cell;
  border: 0px solid; /* Borde para visualizar la tabla, puedes eliminar esta línea si no deseas bordes */
  padding: 5px;
  background-color: transparent; /* Fondo transparente */
  display: table;
  border-collapse: collapse
}