body{
    background-image: url('imagen cine/fondo comida.jpg');
  }

  .card{
    height: 350px;
    width: 300px;
    margin: 10px;
    transition: 300ms;
    background-color: rgba(255, 255, 255, 0); /* Fondo totalmente transparente */
    border: none; /* Eliminar cualquier borde */
  }

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  }

  #grad1 {
    height: 40px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(36, 34, 34), rgb(226, 7, 7));
  }