body{
    background-image: url('imagen cine/fondo comida.jpg');
  }

.card {
        height: 350px;
        width: 300px;
        margin: 10px;
        transition: 300ms;
        background-color: rgb(255, 255, 255); /* Fondo totalmente transparente */
        border: none; /* Eliminar cualquier borde */
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .carta{
    height: 520px ;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(217, 217, 240);
    transition: 300ms;
    position: absolute;
    }

    .detalle{
        height: 400px;
        width: 300px;
        background-color: white;
        position: absolute;
        border-bottom-left-radius:10%;
        border-bottom-right-radius: 10%;
        margin-top: 190px;
        z-index: 2;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        transition: 300ms; 
        }


  .tablacentroblanco{
    background-color: white;
    text-align: center;
    margin: 0 auto 250px; /* Establece el margen izquierdo y derecho a "auto", lo que centra la tabla horizontalmente */
    display: table-cell;
  border: 0px solid; /* Borde para visualizar la tabla, puedes eliminar esta línea si no deseas bordes */
  padding: 5px;
  background-color: transparent; /* Fondo transparente */
  display: table;
  border-collapse: collapse
}



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  }

  #grad1 {
    height: 40px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(36, 34, 34), rgb(226, 7, 7));
  }