

#grad1 {
    height: 40px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(36, 34, 34), rgb(226, 7, 7));
  }


footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 100px;
}

.paginaciones button{

cursor: pointer;
border: none;
display: flex;
align-items: center;
background: #343a40;
color: #fff;
justify-content: center;
text-align: center;
height: 40px;
width: 150px;
border-radius: 160px;
}