@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Press+Start+2P&display=swap');



body {
    background: #ffffff;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }

  #main, .widget {
    margin-bottom: 0;
    border: 0;
}



.title-seccion .grid-center-container {
    height: 90px;
}

.grid-center-container {
    display: table;
    width: 100%;
    height: 100%;
}


div {
    display: block;
    unicode-bidi: isolate;
}

#grad1 {
    height: 70px;
    background-color: #cccccc;
    background-image: linear-gradient(rgb(37, 37, 37), rgb(255, 0, 0));
  }

  details > summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }